/*零件*/
.Coh , .oh{overflow:hidden;}
.Cmml00 , .Cmm  , .Cmm0{margin:0 auto;}
.Cmml00  , .Cmm{width:980px;}
.Cmml00{height:100%}
.fl, .fl100{float:left}
.fr, .fr100{float:right}
.fl100 , .Coh , .fr100{height:100%;}
.Clr{clear:both}
.dw_Cbg{//background: url(../images/new/common.gif)  no-repeat;}
.dw_bgx{background: url(../images/new/x-bg.gif)    repeat-x;}
/*header*/
/*迷你导航*/
.dw_mini{line-height:28px; background-position: 0px -99px; font-family:'宋体';}
.dw_mini , .dw_mini  a{color:#b1b1b1;}
.dw_mini  a{padding:0 10px;}
.dw_mini  a:hover{color:#CFCFCF;}
.dw_mini  .zuo {height:100%;background-position: 4px 8px;}
#erji li{float:left;width:104px;position:relative;cursor:pointer;border-right: 1px solid #4f4f4f;border-left: 1px solid #646464;}
#erji .eq1{background-position:0px -31px;}
#erji .eq2{background-position:0px -93px;width:107px}
#erji li h1{font-weight:normal;font-size:12px;padding-left:35px;}
#erji li div{position:absolute;z-index:99999; background:#444;display:none;width:150px;text-align:center;padding-bottom:5px}
#erji  div.eq201{width:120px}
#erji li div a.icoTc{ display:block;}
#erji li div img{vertical-align:middle;}
#erji li div a:hover{text-decoration:none;}
.right_a{ height:inherit; display:block; float:left;}
a.right_a:hover{ background:#444;}
/*迷你导航结束*/



/*新加*/
.invest_more { width:720px; text-align:center; padding-top:20px; padding-bottom:20px;}
/*ico_list*/
.iico_1 { background:url(../img/gao1.gif); width:150px; height:120px; display:block; overflow:hidden; }
.iico_1:hover {background:url(../img/gao2.gif); width:150px; height:120px;display:block; overflow:hidden;}
.iico_2 { background:url(../img/di1.gif); width:150px; height:120px; display:block; overflow:hidden; }
.iico_2:hover {background:url(../img/di2.gif); width:150px; height:120px;display:block; overflow:hidden;}
.iico_3 { background:url(../img/yan1.gif); width:150px; height:120px; display:block; overflow:hidden; }
.iico_3:hover {background:url(../img/yan2.gif); width:150px; height:120px;display:block; overflow:hidden;}
.iico_4 { background:url(../img/liu1.gif); width:150px; height:120px; display:block; overflow:hidden; }
.iico_4:hover {background:url(../img/liu2.gif); width:150px; height:120px;display:block; overflow:hidden;}

.ico_list { width:710px; height:390px; display:block; margin:0; padding:0;}
.ico_list ul li { width:210px; height:190px; margin:0 3px 4px 3px ; float:left; padding:0;}
.ico_list ul li a {width:210px; height:190px;margin:0 3px 4px 3px ; float:left;  }
.ico_list ul li a:hover {width:208px; height:198px;margin:0 3px 4px 3px ; border:#CCC 1px solid; float:left;  background:#E0EDF8;}
.ico_list ul li .ico_1 { background:url(../images/new/ico_1.gif) 5px 15px no-repeat; }
.ico_list ul li .ico_1:hover {background:url(../images/new/ico-1.gif) 5px 15px no-repeat #FFFFFF;}
.ico_list ul li .ico_2 { background:url(../images/new/ico_2.gif) 5px 15px no-repeat; }
.ico_list ul li .ico_2:hover {background:url(../images/new/ico-2.gif) 5px 15px no-repeat #FFFFFF;}
.ico_list ul li .ico_3 { background:url(../images/new/ico_3.gif) 5px 15px no-repeat; }
.ico_list ul li .ico_3:hover {background:url(../images/new/ico-3.gif) 5px 15px no-repeat #FFFFFF;}
.ico_list ul li .ico_4 { background:url(../images/new/ico_4.gif) 5px 15px no-repeat; }
.ico_list ul li .ico_4:hover {background:url(../images/new/ico-4.gif) 5px 15px no-repeat #FFFFFF;}
.ico_list ul li .ico_5 { background:url(../images/new/ico_5.gif) 5px 15px no-repeat; }
.ico_list ul li .ico_5:hover {background:url(../images/new/ico-5.gif) 5px 15px no-repeat #FFFFFF;}
.ico_list ul li .ico_6 { background:url(../images/new/ico_6.gif) 5px 15px no-repeat; }
.ico_list ul li .ico_6:hover {background:url(../images/new/ico-6.gif) 5px 15px no-repeat #FFFFFF;}

.first_top{width: 100%;height:34px;background: #fafafa; border-bottom: 1px solid #e6e6e6; }
.top{height:34px;margin: 0 auto;width:980px;}
.top .tNav{ width:100%; text-align: right; line-height: 30px;}
.top .tNav a{ padding-left:4px; display: inline-block;color: #fff;}
.top .tNav a.helpTop{ background: url(../images/help.gif) no-repeat center; padding:0px 10px 2px 0px;width:57px;}
.top .tNav a.helpTop.now{ text-align:right;text-decoration: none; width: 56px; background: url(../images/leader.gif) no-repeat 2px 6px; color: #fff;margin:0px;padding-right:8px;}
.top .tNav a.helpTop:hover{ text-decoration: none; background: url(../images/leader.gif) no-repeat 2px 6px;}
.Nav{width: 100%;min-width: 1004px;height:90px;position:relative;left:0;top:0; margin-bottom:0px;
}
.contain{width: 980px; padding-top:5px;margin: 0 auto;height: 65px;}
//.N_logo{height: 62px;float: left;display:block;margin-top: 4px;_margin-left:4px;}
//.N_logo a img{height:78px;width:234px;}
.Nav_nav{width:374px;height:65px;float:left;}

.navigation-right{
	float:right;
}
.navigation-right a{ font-family:"微软雅黑";
font-size: 14px}
.navigation-right a.first{ color:#0697DA;
}
.hd-login-btn a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    display: block;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 79px;
}
.hd-regist-btm a {
    background: none repeat scroll 0 0 #15446e;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 80px;
}

.container_12 .grid_3 {
width: 220px;display: inline;float: left;margin-left: 10px;margin-right: 10px;}
.fn-right {
float: right;display: inline;
}
.ui-nav-item-x {position: relative;z-index: 9999; padding-right:0px;}
.ui-nav-item {
float: left;
font-size: 18px;
}
.ui-nav-item-x .ui-nav-item-link {
}
a.rrd-dimgray, a.rrd-dimgray:link {
color: #555; font-family:"微软雅黑";
}
.ui-nav-item-link {
display: block;
height: 65px;
line-height: 60px;
}
.ui-nav-username {
max-width: 170px;
}

.ui-nav-item-link .arrow-down {
position: absolute;
top: 29px;
right: 0px;
z-index: 1;
}
.arrow-down {
width: 0;
height: 0;
border-left: 4px solid transparent;
border-right: 4px solid transparent;
border-top: 4px solid #555;
}
a.rrd-dimgray, a.rrd-dimgray:link {
color: #555; display:block; padding:0px 10px;
}

.ui-nav-dropdown-item a.rrd-dimgray, .ui-nav-dropdown-item a.rrd-dimgray:link {
color: #555; display:block; padding:5px 10px;
}

 a.rrd-dimgray:hover {color:#027BC0; text-decoration:none;}
.ui-nav-dropdown-item a.rrd-dimgray:hover {color:#fff; text-decoration:none;}

 .ui-nav-item-link:hover .arrow-down {border-top: 4px solid #00A8E8;}
.ui-nav-dropdown .ui-nav-dropdown-angle {position: absolute;top: -5px;left: 46px;}

.ui-nav-dropdown {position: absolute;top: 62px;left:9px;z-index: 9999;background: white;-webkit-box-shadow: 0 0 3px -1px #CCC;-moz-box-shadow: 0 0 3px -1px #ccc;box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2);width:126px;padding:5px 10px;
}
.ui-nav-dropdown .ui-nav-dropdown-separator {
height: 0;
margin: 5px 0px;
border-bottom: 1px solid #F2F2F2;
font-size: 0;
}
.ui-nav-dropdown .ui-nav-dropdown-angle {
position: absolute;
top: -5px;
left: 46px;
}

.ui-nav-dropdown .ui-nav-dropdown-angle span {
display: block;
width: 9px;
height: 5px;
background: url(../images/nav-angle-up.png) no-repeat center center;
}

.ui-nav-dropdown li a.rrd-dimgray {
font-weight:normal;
}
#ui-nav-dropdown li.ui-nav-dropdown-item{height:35px;line-height: 20px;font-size: 18px;}
/**/


.banner{width: 100%;height: 372px;min-width:1024px;}
h2.slider-title{font-size:35px;line-height:100px;font-family:'SimSun', sans-serif;background:#fefefe;color:#333;height:100px;font-weight:normal;margin:0;text-align:center;}
/* sliderkit */
.sliderkit{display:none;position:relative;overflow:hidden;text-align:left;width:100%!important;height:358px;overflow:hidden;}
.sliderkit a,.sliderkit a:hover{text-decoration:none;}
.sliderkit a:focus{outline:1px dotted #000;/*optional*/}
.sliderkit img{border:0;width:100%;}

/*---------------------------------
 *  Navigation
 *---------------------------------*/
.sliderkit .sliderkit-nav{z-index:10;position:absolute;text-align:center;}
/* Nav > Clip */
.sliderkit .sliderkit-nav-clip{position:absolute;margin:0 auto;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:570px;z-index:1000;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li{float:left;}
.sliderkit .sliderkit-nav-clip ul li a{display:block;overflow:hidden;}

/*---------------------------------
 *  Buttons
 *---------------------------------*/
.sliderkit .sliderkit-btn{z-index:10;}
/*---------------------------------
 *  Panels
 *---------------------------------*/
.sliderkit .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}
/* Panels > Overlay */
.sliderkit .sliderkit-panel .sliderkit-panel-textbox{position:absolute;z-index:1;}
.sliderkit .sliderkit-panel .sliderkit-panel-text{position:absolute;z-index:3;top:0;left:0;}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay{position:absolute;z-index:2;top:0;left:0;}
/*---------------------------------
 *  Loader
 *---------------------------------*/
.contentslider-std .sliderkit-panels{width:100%;height:100%;overflow:hidden;background:#fff url(ajax-loader.gif) no-repeat center center;}
.contentslider-std .sliderkit-panel h2{margin:5px 0 20px;}

/* Panels buttons */
.contentslider-std .sliderkit-go-btn{color:#FFFFFF;cursor:pointer;font-size:50px;font-weight:normal;height:58px;}
.contentslider-std .sliderkit-go-btn{position:absolute;text-align:center;top:50%;width:58px;line-height:58px;margin-top:-29px;}
.contentslider-std .sliderkit-go-prev{left:-58px;background:url(../images/l-arr.png) no-repeat center center;}
.contentslider-std .sliderkit-go-next{right:-58px;background:url(../images/r-arr.png) no-repeat center center;}
.contentslider-std .sliderkit-go-prev a{display:block;width:19px;height:28px;background:#333;}
.contentslider-std .sliderkit-go-prev a{margin:16px auto 0 auto;font-size:0;line-height:0;text-indent:-4000px;}
.contentslider-std .sliderkit-go-next a{display:block;width:18px;height:27px;background:url(../images/r-arr.png)}
.contentslider-std .sliderkit-go-next a{margin:16px auto 0 auto;font-size:0;line-height:0;text-indent:-4000px;}
.contentslider-std .sliderkit-go-btn span{display:none;}
/* setting the path to the thumb images */ 
#a-thumb{background:url(../images/a.jpg);} 
#b-thumb{background:url(../images/b.jpg);} 
#c-thumb{background:url(../images/c.jpg);} 
#d-thumb{background:url(../images/d.jpg);} 
#e-thumb{background:url(../images/e.jpg);}

a.next strong{display:block;position:absolute;right:65px;top:-18px;z-index:100;border:solid 5px #ffc62b;box-shadow:#333 2px 2px 2px;}
a.prev strong, a.next strong{width:145px;height:85px;
  /* IE 8 */
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  /* IE 5-7 */
  filter:alpha(opacity=0);
  /* Netscape */
  -moz-opacity:0;
  /* Safari 1.x */
  -khtml-opacity:0;
  /* Good browsers */
  opacity:0;
}

a.prev strong{display:block;position:absolute;left:65px;top:-18px;z-index:100;border:solid 5px #ffc62b;box-shadow:#333 2px 2px 2px;}
.sliderkit-panels{list-style-type:none;}
.sliderkit-panels li{padding:0;width:100%;margin:0;float:left;display:none;height:100%;}

.sliderkit-panels-wrapper{height:358px;position:relative;}
/*统计*/
.tongji{width: 970px;height:100px;border:#E7EAEC solid 1px;margin:0 auto; padding-left:10px; padding-top:10px; margin-bottom:10px;}
.tongji .span_left{width:382px;height:90px;display:block;font-size:24px;float:left;line-height:30px;color:#007eb9;}
.tongji span p{font-size:16px;color:#555;}
.tongji .span_left strong{margin-top:10px;display:block;}
.tongji .span_left p a{color:#67bbe7;font-size:14px;}
.tongji .span_center{width:182px;height:82px;display:block;font-size:32px;line-height:30px;margin-left:60px;float:left;text-align:center;}
.tongji .span_right{width:296px;height:82px;display:block;font-size:32px;line-height:30px;float:right;}
.tongji .span_right p{margin-right:6px;}
/*企业直投列表*/
.liuzhuan{}
.liuzhuan td table td{ font-size:16px;}
.liuzhuanlist{border:#e7eaec solid 1px; margin:5px 0px 5px 4px;background:url(../images/liuzhunbg.gif) right top no-repeat; position:relative;}
.delbackground{background:url(../images/liuzhunbg1.gif) 132px top no-repeat; }
/*企业直投列表end*/
/*统计*/
.main{ width: 990px;margin:0 auto;overflow:hidden;}
.main .dengji{text-align:center;font-size:14px;color:#666;}
.main .diyi{}
.licai_btn{ padding-left:16px;}
.main table tr td{}
.main p{width: 180px;height: 20px;line-height: 20px;margin-top: 26px; font-size: 14px;padding-left: 280px;}
.main_center{width: 904px;height: 394px;margin:0  auto;position: relative;left: 0px;top: 46px;}
.main_left{width: 350px;height: 240px;background: url(../images/main_left.gif) no-repeat 20px 120px;float: left;}
.main_right{width: 440px;height: 316px;float: right;margin: 44px 24px 0px 0px;border: solid 1px #ccc;background-color: #fff;}
.chakan{width:980px;height:76px;margin: 0 auto;}
.chakan a{color:#bdbdbd;text-align:center;line-height:76px;font-size:16px;display:block;}
.ss{width:978px;height:232px; border:#E7EAEC solid 1px; padding-top:10px; border-top:#EdEff2 solid 1px;}
.ss_left{width:468px;float:left;overflow:hidden;padding-left:20px;}
.ss_left h3{font-size:18px;text-indent:1em;display:inline;width:94px;height:22px;margin-right:8px;}
.ss_left h3 img{ position:relative; top:3px;}
.ss_left img{display:inline;flaot:left;}
.ss_left a{width:477px;height:32px;line-height:32px;font-size:14px;color:#737272;float:left;text-indent:1.6em; border-bottom:#EDEFF2 dashed 1px;}
.ss_left a:hover{ color:#007EB9}
.ss_left a span{ display:block; float:right; padding-right:10px; font-size:12px; color:#c6c6c6;}
.ss_left a img{display:inline-block;float:left;padding-left:12px;}
.ss_left .zuihou{text-indent:2em;}
.ss_left .zuihou_last{text-align:center;background:#f5f5f5;margin-top:12px;width:470px; line-height:50px; height:50px;}
#form1{width: 320px;height: 40px;margin: 54px 46px 44px 36px;line-height: 40px;}
#input_text{height: 40px;width: 256px;background: url(../images/user.gif) no-repeat 4px 6px;text-indent:3em;border: solid 1px #ccc;}
 .input_pwd{background: url(../images/pwd.gif) no-repeat;height: 40px;width: 256px;text-indent:3em;border: solid 1px #ccc;}
 //.login{width: 200px;height: 30px;margin-left: 86px;text-align: center;}
 #button{width: 90px;height: 28px;background: url(../images/login.gif) no-repeat;font-size: 16px;color: #fff;text-align: center;border: none;}
 .join{width:520px;height: 44px;line-height: 44px;font-size: 18px;color: #555;}
 .join em{font-size: 18px;color: #555;margin-left: 82px;}
 .join a{font-size: 18px;color: #047acd;margin-right: 44px;}
/*.footer{width: 100%;min-width: 1004px;height: 214px;background: #666;color: #aaa;margin: 0 auto;}
.footer_con{width: 980px;height: 160px;margin: 0 auto;margin-top:10px; border-bottom:1px dashed #A6A6A6; margin-bottom:20px;}
.footer_p{height: 138px;float: left;margin:20px 0px 0px 0px; width:314px;}
.footer_p h2{font-size: 18px;height: 30px;text-align:inherit;}
.footer_gz{width: 160px;margin-right: 40px;margin-top:20px; margin-left:30px;}
.footer_p p{font-size: 14px;height: 26px;}
.le{margin-right: 2px; position:relative; top:0px;}
.footer_ul{height: 138px;float: left; }
.footer_gy{width: 161px;margin-right: 46px;margin:20px 0px 0px 0px;}
.footer_help{width: 130px;margin-top: 20px;}
.footer_ul h2,.footer_p h2{font-size: 18px;height: 30px;color: #aaa;}
.footer_ul h2 a,.footer_p h2 a{font-size: 18px;width: 100px;height: 30px;color: #aaa;}
.footer_ul h2 a:hover,.footer_p h2 a:hover{color:#fff;}
.footer_ul li{width: 100px;height: 26px;}
.footer_ul ul li a{font-size: 14px;color: #aaa;}
.footer_ul ul li a:hover  {color: #fff;}
.last_last{width:100%; margin: 0 auto; text-align:center;}
.last_last a{ color:#aaa;}
.footer_last{margin-top: 20px; text-align:right;float:right; margin-right:0px; width:180px;}
.footer_last p{font-size: 18px;height: 20px;text-align:inherit;font-size: 24px;}
.footer_last p strong{font-size: 24px;height: 30px;width: 180px;display: inline-block; text-align:inherit;} */

/*-------------yol-top-------------*/
.yol-top{
margin-top:20px;
background-color:#f0f4f7;
}
.safe-items {
    height: 60px;
    overflow: hidden;
    padding: 20px 0;
   
}
.safe-items ul {
    overflow: hidden;
    width: 1080px;
	margin:0 auto;
}
.safe-items li {
    color: #adb7be;
    display: inline;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-right: 30px;
}
.safe-items li span {
    background: url("../img/common/sprites.png") no-repeat scroll -150px -209px ;
    display: inline;
    float: left;
    height: 50px;
    margin-right: 5px;
    position: relative;
    width: 50px;
}
.safe-items li span .icons {
    left: 50%;
    position: absolute;
    top: 50%;
}
.safe-items .csat {
    background-position: -508px -154px;
    height: 25px;
    margin: -13px 0 0 -13px;
    width: 25px;
}
.safe-items .lead {
    background-position: -542px -159px;
    height: 20px;
    margin: -10px 0 0 -20px;
    width: 40px;
}
.safe-items .prin {
    background-position: -268px -183px;
    height: 27px;
    margin: -13px 0 0 -14px;
    width: 26px;
}
.safe-items .any {
    background-position: -268px -117px;
    height: 31px;
    margin: -16px 0 0 -20px;
    width: 36px;
}
.safe-items .audit {
    background-position: -542px -143px;
    height: 13px;
    margin: -7px 0 0 -20px;
    width: 40px;
}
.icons {
    background: url("../img/common/sprites.png") no-repeat scroll 0 0 ;
    display: inline-block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}
.ft-identity {
    text-align: center;
	color:#fff;
	font-size:14px;
}
.approve-1 {
    background-position: 0 0;
    height: 36px;
    width: 90px;
}
.approve-2 {
    background-position: -180px 0;
    height: 36px;
    width: 99px;
}
.approve-2:hover {
    background-position: -279px 0;
    height: 36px;
    width: 99px;
}
.approve-3 {
    background-position: -378px 0;
    height: 36px;
    width: 135px;
}
.approve-3:hover {
    background-position: -513px 0;
    height: 36px;
    width: 135px;
}
.approve-4 {
    background-position: -648px 0;
    height: 36px;
    width: 57px;
}
.approve-4:hover {
    background-position: -705px 0;
    height: 36px;
    width: 57px;
}
.approve-5 {
    background-position: -762px 0;
    height: 36px;
    width: 100px;
}
.approve-5:hover {
    background-position: -862px 0;
    height: 36px;
    width: 100px;
}
.approve-6 {
    background-position: -962px 0;
    height: 36px;
    width: 90px;
}
.approve-6:hover {
    background-position: -1052px 0;
    height: 36px;
    width: 90px;
}
.ft-approve a {
   margin-right: 15px;
}
.approve-1:hover {
    background-position: -90px 0;
    height: 36px;
    width: 90px;
}
.icon-approve {
	background-image: url("../img/common/icon_approve.jpg");
	background-repeat: no-repeat;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
}
.ft-approve {
	height: 36px;
	margin: 0 auto;
	padding: 30px 0 20px;
	width: 678px;
}

/*-------------yol-top-------------*/

.last_last li a{font-size: 14px;color: #aaa;text-align:inherit;}



.ttb{padding:0px;  height:31px; width:118px;text-align:center;background:url(../images/toubiao.gif) center no-repeat ;border:0px solid #1456A8; line-height:30px; cursor:pointer}
.tailttb{width:258px;height:33px; border:0; background:#077bce; line-height:33px; text-align:center; color:#fff; cursor:pointer;}
.ptailttb{ background:#969696;}
.yuanquan{ display:block; width:44px; font-size:8px;letter-spacing:-2px; line-height:45px; color:#06F; height:45px; background: url(../images/yuanquan.png) no-repeat}
/* 列表页*/
.list_banner{width:980px;height:241px;margin: 0 auto; margin-top:5px;}
.list_banner_left{background:#F9F9F9; border:#e9e9e9 1px solid;}
.list_banner_left p{text-align:left;font-size: 16px;line-height: 31px; font-family:"微软雅黑";}
.list_banner_left_l{height:216px;position:relative;left:0; top:0;}
.list_banner_left_l h2,.list_banner_left_r h2{text-align:left;font-size:20px;font-family: "Microsoft YaHei", Helvetica, sans-serif,simsun ;margin:16px 0px 10px 20px;}
.list_banner_left_l ul {height:38px;margin-top:4px; margin-left:20px; margin-right:20px; border-bottom:1px dotted #E2E2E2;}
.list_banner_left_l ul li{float:left;width:76px;height:35px;line-height:35px;}
.list_banner_left ul li.saixuanlx{ width: 82px;}
.list_banner_left ul li.buxz{background:url("../images/zhaobiao.gif") no-repeat 1px 6px;width:74px;height:28px;text-align:center; margin-right:20px;}
.list_banner_left ul li.buxz a{color:#fff;}
.list_banner_left ul.dierge{line-height:30px;}
.list_banner_left ul.dierge li{}
.list_banner_left ul.dierge li.daxiezimu{width:30px;}
.list_banner_left_l ul li.qixian{}
.list_banner_left_l ul li.sousuo{margin:0px 6px 0px 0px;width:90px;}
.list_banner_left_l ul li.jiekuanyonghu{width:80px;}
.list_banner_left_l ul li.chaxun{background:url(../images/chaxun.gif)  9px 6px no-repeat ;color:#fff;position:absolute;text-align:center;right:489px;}
.list_banner_left_l ul li.chaxun a{color:#fff;margin-left:4px;}
.list_banner_left_r{width:300px;height:216px;float:left;margin:31px 0px 0px  4px;border:solid 1px #ccc;}
.list_banner_left_r em h2{float:left;font-size:20px;}
.list_banner_left_r em a{float:right;font-size:14px;margin:16px 9px 0px 0px;color:#888;}
.list_main{width:976px; overflow:hidden;margin: 0 auto;border:#E9E9E9 1px solid;}
.list_main_top{width:980px;}
.list_main_top h2{font-size:19px;float:left;width:80px;height:30px;margin:24px 24px 28px 20px;}
.list_main_top img{display:block;float:left;line-height:72px;margin-top:26px;}

.main h2{color:#666;font-family: "Microsoft YaHei", Helvetica, sans-serif,simsun ;text-align:left; padding:16px 10px 24px; height:28px;}
.main h2 .icons {background: url(../images/zhitou.png) no-repeat;height: 28px;width: 36px;display: inline-block;  float:left ;position:relative; top:7px;}
.main h2 .icons1{background: url(../images/zhitou1.png) no-repeat;}
.main h2.title_03 .more { font-size:14px; padding-top:10px;}
.main h2.title_03 em {
border-left: 1px solid #DEE1E4;
color: #CECECE;
display: inline-block;
font-size: 17px;
height: 20px;
line-height: 20px;
margin-left: 10px;
padding-left: 10px;
font-family: "Microsoft YaHei";
font-weight: normal;
}
.main .dengji{text-align:center; line-height:2.4em;}
.list_main table tr.diyige{width:970px;height:32px;}
.list_main table tr td{text-align:center;}
.list_main table tr.bottomline{ height:68px;border-bottom:solid 1px #ccc;width:970px;}
.list_main table tr.delline{border-bottom:solid 0px #ccc;}
.list_bottom{width:980px;height:30px;margin: 0 auto;}
.list_bottom_right{}
.list_bottom_right ul{height:26px;margin-top:16px; text-align:center;}
.list_bottom_right ul a:hover {
background-position: 0px 0px;
color:#fff;
text-decoration: none;
}
.list_bottom_right ul a {
width: 26px;
height: 26px;
font-size: 14px;
font-family: "Microsoft YaHei";
line-height: 22px;
text-align: center;
display: inline-block;
text-decoration: none;
margin-right: 8px;
background: url(../images/page_bg.jpg) no-repeat -57px 0px;
}
.list_bottom_right ul a.prevnext{ width:48px; background:none; border:#f4831f solid 1px; display:inline-block; height:21px; color:#F4831F;}
.list_bottom_right ul a.prevnext:hover{ color:#F4831F;}
.list_bottom_right ul span.current {width: 26px;height: 26px;font-size: 16px;font-family: "Microsoft YaHei";line-height: 22px;
background: url(../images/page_bg.jpg) no-repeat 2px -1px;
display: inline-block;color: #c9c9c9;text-align: center;margin-right: 8px;}
.list_bottom_right ul li{float:left;width:30px;height:30px;text-align:center;line-height:30px;margin-left:10px;background:url(../images/list_san.gif) no-repeat;}
.list_bottom_right ul li a{color:#888;}
.list_bottom_right ul li.xiaowei_1{ background:url(../images/list_first.gif) no-repeat;}
.list_bottom_right ul li.list_first{width:64px;height:30px;background:url(../images/shangyiye.gif) no-repeat;}
.list_main table  tr td.td_first{text-align:left;}

.wright,.wleft{line-height:30px;  }
.wleft{font-size:16px;}
.title_03{ font-size:24px; font-family:"微软雅黑"; border:#E7EAEC solid 1px; border-bottom:none;}
.title_03 span{ display:inline-block; float:left; line-height:38px;}
.wleft h3.title_03{ border:0; border-bottom:#E7EAEC solid 1px; padding:15px 10px;}
.wleft h3.title_03 .more{font-size: 14px; color:#fff; }
#wpass{ color:#eee; padding-left:10px;margin-top:6px;padding-right:14px;width:90px; height:27px; background:url(../images/wpass1.gif) no-repeat; line-height:27px;}
#wpass:hover{ color:#fff;  background:url(../images/wpass.gif) no-repeat; }
.wright{ text-align:right;}
.wright a:hover{color:red;}
.list_bottom_right ul a:hover{color:red;}
.list_bottom_right ul a.delcolor:hover{color:#949494; border:#ccc solid 1px; }
.list_bottom_right ul a.delcolor{color:#949494; border:#ccc solid 1px; }

/* CSS Document */

.navigation { width:980px; margin:0 auto; height:80px; position:relative; }
.navigation-list {margin-top:22px; z-index:2; height:40px;}
.navigation-list .navigation-item { float:left; position:relative; margin-left:27px; margin-right:27px; z-index:200; }
 /* .navigation-list .navigation-item :hover{color:#0A82C4;}  */
.navigation-list .navigation-item-name { font-size:18px; font-family:'Microsoft Yahei'; color:#333; z-index:2; }
 .navigation-list .navigation-item-name:current {
color:#b31d23;
}
.navigation a.zhuce{position:absolute; top:30px;right:105px;font-size:18px;text-decoration:none;}
.navigation a.zhuce:hover{color:#007FC1;}
.navigation a.denglu{position:absolute; top:30px;right:54px;font-size:18px;text-decoration:none;}
.navigation a.denglu:hover{color:#007FC1;}
.navigation-list .navigation-item-name span.ym{border-left: 4px solid #fff;border-right: 4px solid #fff;border-top: 4px solid #555;
    height: 0;
    width: 0;
	position:absolute;
	right:-14px;
	top:12px;
	
	}
.navigation-list .navigation-item-name span:hover{border-left: 4px solid rgba(0, 0, 0, 0);border-right: 4px solid rgba(0, 0, 0, 0);border-top: 4px solid #0A82C4;
    height: 0;
    width: 0;
	position:absolute;
	right:-9px;
	top:12px;}
.navigation-list .navigation-item-name:hover { color:#027BC0; text-decoration:none; }
.navigation-list .navigation-item:hover .navigation-list-two { display:block; }
.navigation-list .navigation-item{position:relative;}
.navigation-list-two-con { position:absolute; top:18px; left:0; display:none; z-index:10000; width:120px;}
.navigation-list .select .navigation-list-two-con { }
.navigation-list .select .navigation-item-name, .navigation-list .current .navigation-item-name { color:#027BC0; transition-property:color; transition-duration: .5s;
}
.navigation-list-two { margin-top:10px; /* border-top:3px solid #b31d23;  */z-index:100000; background-color:#fff; float:left; box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2); }
.navigation-list-two .nav-sanjiao { position:absolute; top:6px; left:0; }
.navigation-two-list { float:left;z-index:200000;position:relative; }
.navigation-two-list li { white-space:nowrap; padding:0 10px; z-index:300000; position:relative; }
.navigation-two-list a { display:block; padding:0 0px; height:32px; line-height:32px; color:#666; width:108px; font-size:12px; font-family:'Microsoft Yahei'; text-align:center; border-bottom:1px solid #f5f5f5; overflow:hidden }
.navigation-two-list a:hover { color:#fff; transition-property:color; transition-duration: .5s;background:#027BC0;text-decoration:none;
}

.navigation-list-two .nav-sanjiao {
position: absolute;
top: 6px;
left: 0;
}
.nav-sanjiao {
width: 7px;
height: 4px;
background-position: 0px -261px;
}
.loanImg {
background-image: url(../images/loanImg.gif);
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
}
/* [Begin] New Global-Header&Footer Style | 2013.01.15 */

.hd-nav {
    background: none repeat scroll 0 0 #15446e;
    width: 100%;
	margin-top:10px;
	height:45px;
}
.hd-main-nav {
}
.hd-main-nav a{color:#fff}
.h-m-n-item {
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    position: relative;
	width:130px;
	text-align:center;
}
.h-m-n-item .hd-triangle {
    bottom: -3px;
    color: #fff;
    display: none;
    font-size: 50px;
    height: 9px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}
.h-m-n-link {
    
    display: block;
    padding: 0 25px;
}

.h-m-n-item:hover {
    //background: none repeat scroll 0 0 #0292D9;
}
.h-m-n-link:hover {
    background: none repeat scroll 0 0 #0292D9;
    color: #fff;
}
.h-m-n-item.cur .h-m-n-link {
    background: none repeat scroll 0 0 #d43836;
    white-space: nowrap;
}
.h-m-n-item:hover .hd-sub-nav {
    display: block;
}
.h-m-n-item:hover .hd-triangle {
    display: block;
}
.hd-sub-nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
    border-image: none;
    border-right: 1px solid #fff;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    left: 0;
    min-width: 120px;
   
    position: absolute;
    top: 45px;
    z-index: 1000;
	margin-left:0px;
}
.h-s-n-item {
    line-height: 36px;
    white-space: nowrap;
    width: 100%;
	
}
.h-s-n-item  a{
color:#656565;
font-size:16px;
}
.h-s-n-item:hover {
    background: none repeat scroll 0 0 #0292D9;
}
.h-s-n-link {
    display: block;
    font-size: 14px;
    text-align: center;
    width: 100%;
	border-top:1px solid #EEEEEE;
}
.hd-inner {
    margin: 0 auto;
    width: 1000px;
}
.hd-main-nav a{color:#fff; font-size:18px; font-family: "Microsoft YaHei", Helvetica, sans-serif,simsun;}
.h-m-n-item {
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    position: relative;
}
.h-m-n-item .hd-triangle {
    bottom: -3px;
    color: #fff;
    display: none;
    font-size: 50px;
    height: 9px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}
.h-m-n-item {
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    position: relative;
}
.h-m-n-item .hd-triangle {
    bottom: -3px;
    color: #fff;
    display: none;
    font-size: 50px;
    height: 9px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}
.h-m-n-link {
    
    display: block;
    padding: 0 25px;
}

.h-m-n-item:hover {
 //background: none repeat scroll 0 0 #0292D9;
  background:#0292D9;
	
}
.h-m-n-link:hover {
   // background: none repeat scroll 0 0 #0292D9;
    color: #fff;
	 background:#0292D9;
}
ul.hd-sub-nav.clearfix.dspn.fadeIn-1s {
     margin-top: 4px;
}
.h-m-n-item.cur .h-m-n-link {
    background: none repeat scroll 0 0 #d43836;
    white-space: nowrap;
}
.h-m-n-item:hover .hd-sub-nav {
    display: block;
}
.h-m-n-item:hover .hd-triangle {
    display: block;
}
.hd-sub-nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
    border-image: none;
    border-right: 1px solid #fff;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    left: 0;
    min-width: 130px;
    position: absolute;
    top: 41px;
    z-index: 1000;
	margin-left:0px;
}
.h-s-n-item {
    line-height: 36px;
    white-space: nowrap;
    width: 100%;
	text-align:center;
}
.h-s-n-item  a{
color:#656565;
font-size:16px;
}
.h-s-n-item:hover {
    background: none repeat scroll 0 0 #0292D9;
}
.h-s-n-link {
    display: block;
    font-size: 14px;
    text-align: center;
    width: 100%;
	border-top:1px solid #EEEEEE;
}
.br1e6 {
    border-right: 1px solid #e6e6e6 !important;
}
.pdl-15 {
    padding-left: 15px;
}
.ft {
    background: none repeat scroll 0 0 #15446E;
   
    z-index: 1000;
}
.ft-inner {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto;
    position: relative;
    width: 1000px;
	height:178px;
}
.ft-helper {
    float: left;
    padding: 27px 20px;
}
.ft-helper dl {
    float: left;
    line-height: 24px;
    width: 111px;
	font-size:14px;
}
.ft-helper dt {
    font-weight: bold;
    line-height: 28px;
	
}
.ft-helper a {
    display: block;
	color:#fff;
	
}
.ft-service {
    float: left;
    height: 124px;
    padding: 33px 50px 21px;
}
.ft-service .icon-ft-tishi {
    margin-right: 5px;
}
.ft-service dl {
    width: 240px;
}
.ft-service dt {
    height: 19px;
    line-height: 19px;
	font-size:14px;
}
.ft-service p {
    line-height: 22px;
    margin-top: 7px;
	color:#fff;
	font-size:14px;
}
.ft-service p strong {
    font-family: 'Arial';
    font-size: 28px;
    font-weight: bold;
	
}
.dspn {
   display: none;
}
.statistics {
	background: #39a3e1;
	line-height: 30px;
	width: 990px;
	margin: 10px auto 0;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.statistics span {
	margin-right: 20px;
}
.statistics span em {
		color: #fff;
		font-size: 24px;
}
.project-area {
    margin-top: 20px;
}
.project-area .item {
    border: 1px solid #d2d4d9;
    display: inline;
    float: left;
    margin-left: 10px;
    width: 238px;
}
.project-area .item:hover {
    box-shadow: 0 0 5px #d2d4d9;
}
.project-area .item:hover {
    box-shadow: 0 0 5px #d2d4d9;
}
.project-area .item1 {
    margin: 0;
}
.project-area .proname {
    background:url("../img/proname.png") no-repeat scroll 0 0;
    color: #888;
    height: 54px;
    line-height: 1;
    margin: 15px 0 0 5px;
    overflow: hidden;
    padding-left: 75px;
}
.project-area .proname h2 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 10px;
	color:#888;
	font-weight:bold;
}
.project-area .item1 .proname {
    background-position: 0 0;
}
.project-area .item1:hover .proname {
    background-position: 0 -54px;
}
.project-area .item1:hover .proname h2 {
    color: #0194da;
}
.project-area .item2 .proname {
    background-position: 0 -108px;
}
.project-area .item2:hover .proname {
    background-position: 0 -162px;
}
.project-area .item2:hover .proname h2 {
    color: #ff8500;
}
.project-area .item3 .proname {
    background-position: 0 -216px;
}
.project-area .item3:hover .proname {
    background-position: 0 -270px;
}
.project-area .item3:hover .proname h2 {
    color: #93c51d;
}
.project-area .item4 .proname {
    background-position: 0 -324px;
}
.project-area .item4:hover .proname {
    background-position: 0 -378px;
}
.project-area .item4:hover .proname h2 {
    color: #e6494b;
}
.project-area .trait {
    color: #888;
    margin:18px auto;
    padding: 2px;
}
.project-area .trait i {
    margin-right: 5px;
}
.project-area .proname p {
    font-size: 14px;
    margin-top: 7px;
}
.project-area .rate {
    margin-top: 2px;
    position: relative;
    text-align: right;
    width: 135px;
}
.project-area .rate .num {
    color: #143f62;
    font: 50px/1 Arial bold;
}
.project-area .rate .sign {
    background: url("../img/equal.png") repeat scroll 0 0 ;
    color: transparent;
    display: inline-block;
    font: 0px/0 simsun;
    height: 11px;
    margin-right: 5px;
    vertical-align: middle;
    width: 21px;
}
.project-area .rate .percent {
    font: 30px/55px microsoft yahei;
}
.project-area .rate .text {
    color: #888;
    font: 12px/16px microsoft yahei;
    position: absolute;
    right: -65px;
    text-align: left;
    top: 20px;
}
.project-area .people-count {
    background: none repeat scroll 0 0 #8dcbef;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.project-area .info {
    margin: 15px 0 0 20px;
}
.project-area .info .info-item {
    float: left;
    font-size: 12px;
    line-height: 1;
    width: 108px;
}
.project-area .info .info-item dt {
    color: #999;
    margin-top: 10px;
}
.project-area .info .info-item dd {
    color: #666;
}
.project-area .info1 .info-item.last {
    margin-left: 20px;
    width: 70px;
}
.project-area .linkbtn {
    padding: 14px 0 10px;
}
.project-area .linkbtn a {
    background: none repeat scroll 0 0 #39a3e1;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
    text-align: center;
    width: 218px;
}
.project-area .linkbtn a:hover {
    background: none repeat scroll 0 0 #65bef2;
}
.i-p-c-i-btn-bf {
    background: none repeat scroll 0 0 #0A6792;
    border: 2px solid #0A6792;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: 216px;
}
.i-p-c-i-btn-bf:hover {
    background: none repeat scroll 0 0 #0D4FA5;
    color: #e25353;
    transition: all 0.2s ease-in-out 0s;
}
#hots-xzwf  b{
background:url("../img/hot.png") no-repeat scroll 0 0;
position:absolute;
top:0;
width:62px;
right:-4px;
height:62px;
z-index:10;
}
.yybiao_con {
    display: inline;
    float: left;
    height: 90px;
   
    width: 245px;
	background:#F8F8F8;
	border-bottom:1px solid  #e6e6e6;
}
.yybiao_con ul {
    float: left;
    height: 50px;
	margin:15px 0 0 35px;
}
.brn {
 border-right: medium none !important;
}
.invest-product-item {
    margin: 30px auto 0;
    width: 1000px;
}
.invest-product-name {
    border-bottom: 2px solid #0a6792;
    height: 36px;
    line-height: 26px;
    overflow: hidden;
}
.invest-product-name span{
 color:#0a6792;
}
.invest-product-name a {
    color: #333;
    font-size: 14px;
    line-height: 42px;
}
.invest-product-name a:hover {
    color: #e25353;
}
.invest-product-case {
	float: left;
	margin-top: 10px;
}
.i-p-c-debt {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e6e6e6;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
}

.i-p-c-d-name {
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px;
	height: 55px;
	line-height: 55px;
	text-indent: 16px;
}
.i-p-c-d-l-item {
	border-right: 1px solid #e6e6e6;
	float: left;
	width: 245px;
}
.yybiao_con {
    display: inline;
    float: left;
    height: 90px;
   
    width: 245px;
	background:#F8F8F8;
	border-bottom:1px solid  #e6e6e6;
}
.yybiao_con ul {
    float: left;
    height: 50px;
	margin:15px 0 0 35px;
}
.yybiao_con li {
    border-right: 1px solid #c5c5c5;
    float: left;
    height: 60px;
    padding: 0 5px;
}
.yybiao_con li span {
    color: #6c6c6c;
    display: block;
    font-size: 12px;
    height: 17px;
    text-align: center;
}
.yybiao_con li font {
    font-weight:bold;
    display: block;
    font-size: 20px;
    text-align: center;
	padding:4px 0;
}
.i-p-c-debt em.fs-xl {
    font-size: 26px;
	font-weight:bold;
}
.i-p-c-debt em.slarge {
    font-size: 16px !important;
}
.i-p-c-debt em {
   font-style: normal;
   color: #e25353;
}

.i-p-c-i-btn-2 {
	font-size: 14px;
	font-weight: bold;
	margin: 18px auto 0;
	width: 100px;
	text-align:center;
	padding:5px 1px;
	background: none repeat scroll 0 0 #39a3e1;
	float:right;
}
.i-p-c-i-btn-2:hover {
	background: none repeat scroll 0 0 #39a3e1;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in-out 0s;
}
.invest-product-introduce {
    border: 1px solid #e6e6e6;
    float: right;
    height: 248px;
    margin-top: 10px;
    position: relative;
    width: 238px;
}
.invest-product-introduce:hover {
    cursor: pointer;
}
.invest-product-introduce:hover .i-p-c-d-border {
    opacity: 1;
}
.invest-product-introduce .i-p-c-d-border div {
    background: none repeat scroll 0 0 #eee;
}
.invest-product-introduce a:hover {
    color: #666;
}
.i-p-i-introduce {
	margin: 20px auto 12px;
	width: 207px;
}
.i-p-i-introduce dt {
    font-weight:normal;
	color:#E46166;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 18px;
   
}
.i-p-i-introduce dd {
    font-size: 12px;
    line-height: 22px;
}
.i-p-i-trait {
    margin: 0 auto;
    width: 218px;
}
.i-p-i-trait li {
    float: left;
    height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
	font-size:14px;
}
.i-p-i-trait span {
    margin-right: 13px;
}
.i-p-i-trait li .icon-iSprite-1 {
    display: inline-block;
    height: 23px;
    left: 0;
    margin-right: 8px;
    overflow: hidden;
    position: absolute;
    width: 23px;
}
.i-p-i-trait .icon-i-1 {
    background-position: 1px 0;
}
.i-p-i-trait li:hover span.tint {
    color: #e25353;
}
.i-p-i-trait li:hover .icon-iSprite-1 {
    animation: 1s ease 0.2s normal both 1 bouncen;
}
@keyframes bouncen {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
}
40% {
    transform: translateY(-3px);
}
60% {
    transform: translateY(-1px);
}
}
i-p-c-d-border {
    opacity: 0;
}
.i-p-c-d-b-top {
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.i-p-c-d-b-left {
    height: 248px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}
.i-p-c-d-b-right {
    height: 248px;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
}
.i-p-c-d-b-bottom {
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.i-p-c-d-l-item:hover .i-p-c-d-border {
    opacity: 1;
}
.website-news {
    margin: 30px auto 0;
    width: 1000px;
}
.website-news-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c3c3c3 #e6e6e6 #e6e6e6;
    border-image: none;
    border-right: 1px solid #e6e6e6;
    border-style: solid;
    border-width: 2px 1px 1px;
    float: left;
    width: 738px;
}
.website-news-case {
    border-right: 1px solid #e6e6e6;
    float: left;
    width: 368px;
}
.w-n-c-title {
    height: 28px;
    line-height: 36px;
    overflow: hidden;
}
.w-n-c-title h2 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-indent: 10px;
	color:#636862;
}
.w-n-c-title a {
    color: #333;
    float: right;
    font-size: 12px;
    margin-right: 10px;
}
.w-n-c-title a:hover {
    color: #e25353;
}
.w-n-c-list {
    margin-left: 10px;
    padding-bottom: 10px;
    width: 348px;
}
.w-n-c-list img {
    display: inline;
    float: left;
    margin-right: 12px;
}
.w-n-c-list li {
    display: inline;
    float: left;
    height: 75px;
    margin-top: 20px;
    width: 100%;
}
.w-n-c-list h3 {
    display: inline;
    float: left;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 2px;
    white-space: nowrap;
    width: 205px;
	font-size:14px;
}
.w-n-c-list p {
    display: inline;
    float: left;
    line-height: 24px;
    width: 205px;
	font-size:13px;
}
.w-n-l-tab-more {
    border-left: 1px solid #e6e6e6;
    padding-left: 190px;
    position: absolute;
    
}
.website-news-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:  #e6e6e6;
    border-image: none;
    border-right: 1px solid #e6e6e6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    float: right;
    width: 238px;
}
.w-n-l-tab-nav {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-top: 2px solid #c3c3c3;
    height: 40px;
    line-height: 40px;
}
.w-n-l-tab-nav span {
    cursor: pointer;
    float: left;
    text-align: center;
    width: 78px;
}
.w-n-l-tab-nav span:hover {
    color: #e25353;
}
.w-n-l-tab-nav span.cur:hover {
    color: #666;
}
.w-n-l-tab-nav-1 {
font-size:14px;
}
.w-n-l-tab-nav-2 {
font-size:14px;
}
.w-n-l-tab-nav .cur {
    background: none repeat scroll 0 0 #fff;
    border-top: 2px solid #e25353;
    height: 41px;
    line-height: 41px;
    margin-top: -2px;
}
.w-n-l-tab-content {
    line-height: 28px;
    padding: 10px 0 9px;
}
.w-n-l-tab-content li {
    text-indent: 10px;
}
.ft-wap {
	float: left;
	padding: 16px 0 0 50px;
	width: 225px;
}
.ft-wap dl {
	float: left;
	padding-top: 15px;
}
.ft-wap dt {
	color: #fff;
	margin-bottom: 5px;
	width: 91px;
	font-size: 13px;
}
.mobile-client {
	float: left;
	margin-right: 13px;
	margin-top: 11px;
}
.mobile-client li {
	background-color: #f9f9f9;
	border: 1px solid #e6e6e6;
	height: 30px;
	margin-top: 8px;
	width: 118px;
}
.mobile-client li a {
	color: #666;
	display: block;
	font-size: 14px;
	height: 100%;
	line-height: 30px;
	text-align: center;
	width: 100%;
}
.mobile-client a:hover {
    color: #e25353;
    cursor: pointer;
    transition: color 0.1s linear 0s;
}
.mobile-client-android, .mobile-client-iphone {
    background: url("../img/common/icon_mobile.jpg") no-repeat scroll 0 0;
    height: 30px;
    width: 16px;
}
.mobile-client-android {
    background-position: 8px -31px;
}
.mobile-client-iphone {
    background-position: 8px 0;
}
.mobile-client-android a:hover .normal {
    display: none;
}
.mobile-client-android a:hover .hover {
    display: block;
}
.mobile-client-android a .hover {
    display: none;
}
.mobile-client-android a .normal {
    display: block;
}

.icon-ft-erweima {
	
	height: 91px;
	width: 91px;
}

.icon-hdSprite {
	
	
	float: left;
	overflow: hidden;
	text-indent: -9999px;
}
.icon-ft-erweima {
    background-image: url("../img/common/icon_hdSprite1.png"); 
    height: 91px;
    width: 91px;
}
.icon-ft-email {
    background-position: -91px 0;
    height: 30px;
    width: 30px;
}
.icon-ft-qqweibo {
        background-image: url("../img/common/qweibo.png"); 
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.icon-ft-sina {
        background-image: url("../img/common/xinlang.png"); 
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.icon-ft-weixin {
    background-image: url("../img/common/weixin.png"); 
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.icon-ft-weixin.cur {
    background-position: -181px -30px;
    height: 30px;
    width: 30px;
}
.icon-ft-qun {
    background: url("../img/common/icon-qun.jpg") no-repeat scroll 0 0;
    float: left;
    height: 30px;
    margin-right: 7px;
    overflow: hidden;
    width: 30px;
}
.icon-ft-qun-cur {
    background: url("../img/common/icon-qun.jpg") no-repeat scroll 0 -30px;
    float: left;
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.ft-service p {
	line-height: 22px;
	margin-top: 7px;
	color: #fff;
	font-size: 14px;
	margin: 0 0 1.5em;
}
.ft-serv-handle .icon-hdSprite {
	cursor: pointer;
	margin-right: 5px;
}
.ft-service .icon-ft-tishi {
   margin-right: 5px;
}
.icon-ft-tishi {
	background-position: -287px 0;
	height: 19px;
	width: 19px;
}